<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mbs.cuttingedge"
        versionCode="7" 
        version   = "1.6">
	


<icon src="images/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="images/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="images/splashldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="images/splashmdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="images/splashhdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="images/splashxhdpi.png" gap:platform="android" gap:density="xhdpi" />

<preference name="load-url-timeout" value="60000" />

<name>Cutting Edge</name>

<description>
App
</description>

<author href="https://webdoctorsolutions.com" email="mark@webdoctorsolutions.com">
Mark Ramrattan
</author>

</widget>
